<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>URL Shortener</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <script src="{% static 'script.js' %}" defer></script>
</head>
<body>
  <div class="bubble-container">
    <div class="bubble" style="width:40px; height:40px; left:10%; background: #FF6B6B; animation-duration: 10s;"></div>
    <div class="bubble" style="width:30px; height:30px; left:25%; background: #FFD93D; animation-duration: 8s;"></div>
    <div class="bubble" style="width:50px; height:50px; left:40%; background: #6BCB77; animation-duration: 12s;"></div>
    <div class="bubble" style="width:35px; height:35px; left:60%; background: #4D96FF; animation-duration: 9s;"></div>
    <div class="bubble" style="width:45px; height:45px; left:80%; background: #FF6B6B; animation-duration: 11s;"></div>
  </div>

  <div class="container">
    <h1 style="color: black;">URL Shortener</h1>
    <input type="text" id="urlInput" placeholder="Enter URL to shorten">
    <div class="timer-inputs">
      <input type="number" id="hours" placeholder="HH" min="0" max="23">
      <span>:</span>
      <input type="number" id="minutes" placeholder="MM" min="0" max="59">
      <span>:</span>
      <input type="number" id="seconds" placeholder="SS" min="0" max="59">
    </div>
    <button onclick="submitURL()">Submit</button>
    <div id="message"></div>
    <div id="shortened-url-container" style="display:none;">
      <p style="color: black;">Your Shortened URL: <span id="shortened-url"></span></p>
      <button id="copy-button">Copy URL</button>
    </div>
  </div>
</body>
</html>
