<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <title>redirect</title>
  <script src="{% static 'script.js' %}" defer></script>
  <link rel="stylesheet" href="{% static 'redirect.css' %}">

  <script>
    // This function will redirect to the home page when the button is clicked
    function Home() {
      window.location.href = "/";  // Redirecting to home page
    }
  </script>
</head>
<body>
  <div class="container">
    <p class="status-message">
      OOPs....!<br>
      Cannot find Page or the link might have been expired
    </p>
  </div>
</body>
</html>
